.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  background: #121b31;
  color: white;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border-right: 1px solid lightgray; */
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin: 2vw;
  font-size: 24px !important;
}
.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  background: #182340;
  justify-content: center;
  height: 39px;
  padding: 10px 0;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  height: 35px;
}
.sidebar_searchContainer i{
  font-size: 16px;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.sidebar_searchContainer input {
  height: 33px;
  padding-left: 10px;
  color: #5096ff;
  font-size: 18px;
  width: 90%;
  border-radius: 20px;
  border: 1px solid white;
  outline-width: 0;
  background: transparent;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
  background: #182340;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002c6d;
  border-radius: 10px;
}

/* Handle on hover */
